.tool-info{
	text-align: center;
	color: var(--main-color);
} 

h1{
	font-size: 3rem;
}
.article-writer--info{
	font-size: 1.2rem;
}
.article__info--setup{
	display: grid;
}

.article__info--metadata{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	justify-content: center;
	margin-bottom: 10px;
	gap: 1em;
}

.input__label{
	background-color: var(--main-color);
	color: var(--secondary-color);
	padding: 0.7em;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	margin: 1em auto;
	display: block;
	width: fit-content;
	transition: all .3s ease-in-out;
}

.input__label:hover, .input__label:focus{
	transform: scale(1.1);
	color: var(--text-color);
	background-color: var(--secondary-color);
}


.content{
	text-align: center;
}

.content__cover_image{
	display: block;
}

.cover__image--image{
	width: 100%;
	text-align: center;
	border-radius: 10px;
	margin: 1em;
}

/*Heading*/
.input-box{
	text-align: center;
	margin-bottom: 0.5em;
	font-size: 1.7rem;
	font-weight: bold;
	height: fit-content;
	color: var(--main-color);
	background-color:var(--background-color) ;
	font-family:  var(--default-font); 
	border: none;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	padding: 1px;
	border-radius: 0.5em;
}
.article__info--headline{
	font-size: 3rem;
}

.tool--list{
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 60px);
	list-style: none;
	padding: 0;
	margin: 1rem;
	overflow: hidden;
	border-radius: 10px;
}

.tool--btn {
	display: block;
	border: none;
	color: var(--background-color);
	background-color: var(--main-color);
	padding: .5rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.tool--btn:hover, .tool--btn:focus{
	color: var(--main-color);
	transform: scale(1.1);
	background-color:var(--background-color) ;
}

.content-text {
	margin: 1em auto;
	width: 90%;
	text-align: left;
	font-size: 1.3rem;
	height: fit-content;
	color: var(--text-color);
	background-color: var(--background-color);
	font-family:  var(--default-font); 
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 1rem;
	overflow-wrap: break-word;
}


/*Image*/
.image{
	border-radius: 10px;
	display: block;
	margin: 1em auto;
	width: 70%;
	transition: transform .30s ease-in-out;
}


.content-image-grid{
	border: 3px solid var(--main-color);
	border-style: dashed;
	padding: 15px;
	margin: 30px 0px;
	border-radius: 20px;
}


/*ifram*/
.youtube{
	border-radius: 20px;
	border: none;
	margin: 1em auto;
	height:500px ;
	width:80% ;
}

/*quote*/
.content-quote{
	text-align: center;
	margin: 1em auto;
	display: block;
	width: 100%;
	font-size: 30px;
	font-family: var(--quote-font);
	height: fit-content;
	color: var(--text-color);
	background-color:var(--background-color) ;
	border: none;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 1px;
}
/*TEXT*/
b{
	color: var(--main-color);
}

/*code*/

.input-select{
	background-color: var(--main-color);
	color: var(--secondary-color);
	border: none;
	border-radius: 20px;
	padding: 1em;
	font-family: var(--default-font);
	font-weight: bold;

}


.select-option{
	border-radius: 20px;
	padding: 1em;
	font-family: var(--default-font);
	font-weight: bold;
}

.code{
	margin: 1em auto;
	font-size: 17px;
	width: 80%;
	height: fit-content;
	text-align: left;
	color: var(--text-color);
	background-color: var(--background-color);
	font-family: 'Consolas'; 
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 1em;
	border-radius: 0.5em;
	display: block;
}

.content-custom{
	border: 3px solid #f96a6a;
	border-style: dashed;
}

/*Buttons*/

.coverimage{
	margin: 1em auto;
	text-align: center;
}

.buttons-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 25px);
    text-align: center;
    justify-content: center;
    column-gap: 80px;
    row-gap: 16px;
    margin-bottom: 50px;
}
.button{
	background-color: var(--main-color);
	color: var(--background-color);
	text-align: center;
	cursor: pointer;
	border: none;
	height: 60px;
	width: 60px;
	font-size: 20px;
	border-radius: 50%;
	transition: all .30s ease-in-out;
}
.button:hover, .button:focus{
	transform: scale(1.1);
	background-color: var(--background-color);
	color: var(--main-color);
}

/*Export-Dialog*/
.Export-Dialog{
	color: var(--main-color);
	text-align: center;
	width: 65%;
	margin: 0 auto;
}

.ExportTarget{
	text-align: left;
	font-family: Consolas;
	height: fit-content;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:var(--background-color) ;
	border: none;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 1px;
	overflow-wrap: break-word;
}

.heading-selector{
	font-size: 40px; height: 50px;
	width: 40%; letter-spacing: 0.1em;
}

.date{
	text-transform: none;
	font-size: 20px;
	 font-weight: 300;
	  width: 10%;
}


@media (max-width: 1275px){
	.article__info--setup{
		display: flex;
		flex-direction: column;
	}
	
	.article__info--metadata{
		display: flex;
		flex-direction: column;
	}
	}