@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

main{
	padding: 1em;
	background-color: var(--background-color);
	height: 100%;
	bottom: 0;
	z-index: -3;
}

/*toc*/
.contentsTitle{
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;

}
#showHideContents{
	cursor: pointer;
}
.toc{
	text-align: center;
	background-color: var(--secondary-color);
	color: var(--main-color);
	border-radius: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tocList{
	padding-left: 0px;
	font-size: 20px;
}

.tocList li{
	list-style: none;
}

.tocList li a{
	color: var(--main-color);
	text-decoration: none;
	list-style: none;
}
.tocList li a:hover{
	color: var(--text-color);
	text-decoration: none;
	list-style: none;
}

/* Articles */

.coverImageWrap{
	width: 90%;
	margin: 0 auto;
}

.coverImage{
	width: 100%;
	border-radius: 20px;
}

.coverImageCredit{
	margin: 0;
	text-align: center;
	color: var(--text-color);
}
.coverImageCredit a{
	color: var(--main-color);
}
.coverImageCredit a:hover{
	color: var(--text-color);
}

h1{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: var(--main-color);
	margin: 0px 0px 10px 0px;
}
article h2{
	color: var(--main-color);
	font-size: 30px;
	text-align: center;
}
article h3{
	color: var(--main-color);
	font-size: 25px;
	text-align: center;
}

.articleMetadataContainer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	justify-content: center;
	margin-bottom: 10px;
	gap: 1em;
}

.articleMetadata{
	font-size: 1rem;
	font-weight: 300;
	color: var(--main-color);
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in-out;
}
.articleMetadata i{
	transition: all .3s ease-in-out;
}

.MetadataDate{
	margin: 0;
}
.MetadataAuthor:hover, .MetadataAuthor:focus, .MetadataCategory:hover, .MetadataCategory:focus{
	transform: scale(1.1);
	color: var(--text-color);
}
.MetadataAuthor:hover > i, .MetadataAuthor:focus > i, .MetadataCategory:hover > i, .MetadataCategory:focus > i{
	color: var(--text-color);
}

.upozorneni{

}

/*Basic text actions*/
article p{
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}
article p{
	color: var(--text-color);
}
article a{
	color: var(--main-color);
}
article a:hover{
	color: var(--text-color);
}
article b{
	color: var(--main-color);
}
article i{
	color: var(--main-color);
}
article li{
	color: var(--text-color);
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}

.upozorneni{
	display: flex;
	padding: 0.5em;
	border: 2px solid var(--main-color);
	border-radius: 20px;
	align-items: center;
	font-size: 25px;
	text-decoration: none;
	transition: all .3s ease-in-out;
}
.upozorneni p{
	font-size: 17px;
	line-height: normal;
	margin: 0 15px;
}


.linkGrid{
	width: 100%;
	display: grid;
	grid-template-columns:  repeat(auto-fit, minmax(300px,1fr)); 
	gap: 1em;
	font-size: 1.25rem;
	margin: 1em 0;
}
.item{
	display: flex;
	gap: 1em;
	padding: 1em;
	border: 2px solid var(--main-color);
	border-radius: 20px;
	font-weight: bold;
	align-items: center;
	text-decoration: none;
	transition: all .3s ease-in-out;
}

.item p{
	color: var(--main-color);
	font-weight: bold;
	margin: 0;
}
.item:hover{
	transform: scale(1.05);
}
.item:focus{
	transform: scale(1.1);
}

/*Quote*/
q{
	display: block;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	font-family: var(--quote-font);
	color: var(--text-color);
	margin-top: 20px;
	margin-bottom: 20px;
}
q::before, q::after{
	color: var(--main-color);
}

/*Image*/
article img{
	border-radius: 10px;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 10px;
	cursor: zoom-in;
	transition: transform .30s ease-in-out;
}
article img:hover{
	transform: scale(1.1);

}
/*iframes*/

iframe{
	border-radius: 20px;
	margin: 1em auto;
}
.youtube{
	height:300px ;
	width:100% ;
}

/*image grid*/
.imageGrid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
	width: 100%;
	justify-items: center;
}
.imageGrid div{
	text-align: center;
}

.caption{
	color: var(--text-color);
	text-align: center;
	font-size: 18px;
}

/* -----------------MEDIA-------------- */
@media (min-width: 850px){
	/* Articles*/

	main{
		padding: 4em;
	}
	
	.articleMetadata{
		font-size: 1.25rem;}

	h1{
		font-size: 60px;
	}
	article h2{
		font-size: 32px;
		text-align: left;
	}
	article h3{
		font-size: 25px;
		text-align: left;
	}
	article img{
		width: 95%;
	}
	.youtube{
		height:350px ;
		width:100% ;
	}
}
@media (min-width: 1300px){
	.youtube{
		height:600px ;
		width:100% ;
	}
	.toc{
		text-align: center;
		border-radius: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 50px;
		padding-right: 50px;
		width: fit-content;
	}	
	.tocList{
		font-size: 16px;
	}
	.contentsTitle{
		font-size: 30px;
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: center;
	
	}
}