 .DonateButtons {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(212px,1fr));	
            gap: 2em;
        }

.DonateButtons button{
    font-size: 25px;
    font-weight: bold;
    background-color: var(--secondary-color);
    border: var(--main-color) solid 2px;
    padding: 10px;
    color: var(--main-color);
    border-radius: 20px;
    cursor: pointer;
    font-family: var(--default-font);
    transition: transform ease-in-out .2s;

}
.DonateButtons button:hover{
    transform: scale(1.2);
    animation: Glow .7s ease-in-out infinite;
}
.DonateButtons button:active{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(0.9);
}
#donateKod{
    width: 100%;
}
.payGate{
    display: none;
}

.progressWrap{
    background-color: var(--secondary-color);
    width: 90%;
    border-radius: 20px;
    padding: 16px;
    color: var(--text-color);
    box-shadow: 0 0 50px 1px var(--main-color);
    margin: 20px auto;
}

.progressWrap h3{
    margin: 0;
    font-size: 2rem;
}

.progressInfo{
 display: grid;
 grid-template-columns: 1fr auto;
 gap: 10px;
 align-items: center;
}

#amount{
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
}

.progressBar, #progressBarFill{
    height: 10px;
    border-radius: 999px;
}

.progressBar{
    background-color: var(--background-color);
}
#progressBarFill{
    transition: width .7s ease;
    animation: Glow .7s ease-in-out infinite;
    width: 1%;
    max-width: 100%;
    background-color: var(--main-color);    
}

.Darci{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	list-style: none;
	font-size: 1.4rem;
	font-weight: 300;
    gap: 1em;
	transition: all .3s ease-in-out;
}
.Darci button{
    color: var(--main-color);
    font-weight: bold;
    font-family: var(--default-font);
    background-color: var(--background-color);
    font-size: 20px;
    border: none;
    transition: all .3s ease-in-out;
}
.Darci button:hover{
    color: var(--text-color);
    transform: scale(1.1);
    font-weight: bold;
    cursor: pointer;
}

#kodCaption{
    text-align: center;
    font-weight: bold;
    color: var(--main-color);
    font-size: 2rem;
}
@media (min-width: 850px){
   #donateKod{
    width: 40%;
}
}