h1, h2{
    color: var(--main-color);
    text-align: center;
}

.input{
   display: flex;
   flex-direction: column;
   justify-items: center;
   gap: 10px;
   padding: 10px;
   font-family: var(--default-font);
}

.input textarea, .input input{
    color: var(--text-color);
    background-color: var(--background-color);
    border: 2px solid var(--main-color);
    border-radius: 15px;
    font-family: var(--default-font);
    padding: 15px;
    
}

.input input{
    text-align: center;
    font-size: 20px;
}

#Seznam_otazek{
font-size: 23px;
}

.input button{
    background-color: var(--background-color);
    color: var(--main-color);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    font-family: var(--default-font);
    border: 2px solid var(--main-color);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.input button:hover{
    color: var(--background-color);
    background-color:  var(--main-color);
    transform: scale(1.05);
}
.input button:hover > .fa-solid{
		color: var(--secondary-color);
	}
.buttonsGrid{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.otazky{
    display: none;
    color: var(--text-color);
    flex-direction: column;
    align-items: center;
}