/*Infoblock */
.infoblock{
	border-radius: 20px;
	width: 95%;
	display: grid;
	margin: 50px auto 50px auto;
}
.infoblockImage{
	width: 100%;
	border-radius: 20px 20px 20px 20px;
}

.infoblockText{
	padding: 10px 15px 25px 15px;
	color: var(--text-color);
}

.textHeadline{
	color: var(--main-color);
	font-size: 30px;
}

.textContent{
	font-size: 18px;
}

.textHyperlink{
	font-weight: 700;
	font-size: 20px;
	display: block;
	text-decoration: none;
	text-align: center;
	margin-top: 1em;
	color: var(--main-color);
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	padding: 15px;
	background-color: var(--secondary-color);
	border-radius: 20px;
}
.textHyperlink:hover{
	font-size: 1.5em;}



/* -----------------MEDIA-------------- */
/*Laptop */
@media (min-width: 1080px){
	/*About*/
	.infoblock{
		border-radius: 20px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 50px auto 50px auto;
	}
	
	.infoblockText{
		padding: 10px 25px 25px 25px;
	}

	.textContent{
		font-size: auto;
	}

	.textHyperlink{
		text-decoration: none;
		color: var(--main-color);
		text-transform: uppercase;
	}
	.textHyperlink:hover{
		font-weight: bold;
	}
	.infoblockImage--right{
		order: 2;}
}
/*Desktop*/
@media (min-width: 1600px){
	/*Infoblock*/
	.infoblock{
		border-radius: 20px;
		width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 50px auto 50px auto;
	}
	.textHeadline{
		font-size: 35px;
	}
	
	.infoblockText{
		padding: 20px 50px 0px 50px;
	}

	.textContent{
		font-size: 20px;
	}
	.textHyperlink{
		font-size: 22px;
	}
	.textHyperlink:hover{
		font-weight: bold;
	}
	.infoblockImage--right{
		order: 2;}
}