/* Search */
.Search{
	text-align: center;
	margin: 1em auto;
	border-radius: 5rem;
	border: solid 2px var(--main-color);
	color: var(--main-color);
	font-size: 20px;
	display: none;
	justify-content: center;
	align-items: baseline;
}

.Search__input{
	text-align: center;
	padding: 1.2rem;
	font-size: 1.2rem;
	background: transparent;
	border: none;
	color: var(--main-color);
	font-weight: bold;
	width: 90%;
	font-family: var(--default-font);
}

/*Filter*/
.filter{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 1.25rem;
	row-gap: 0.5em;
	margin: 1em auto;
	padding: 0;
}
.filter__btn{
	color: var(--main-color);
	padding: 0.4em;
	font-weight: bold;
	border-radius: 30px;
	width: fit-content;
	text-decoration: none;
	margin: 0 1em;
	border: 2px solid var(--main-color);
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.filter__btn:hover{
	transform: scale(1.1);
}
.filter__btn:focus{
	transform: scale(1.1);
}

/*LinkTree*/

.linktree{
    text-align: center;
    margin: 0 auto;
}

.Links-Wrap {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
    align-items: center;
& h2{
    color: var(--main-color);
    font-size: 2.5rem;
    
}}
/*link-wrap*/
section > div{
    text-align: left;
    margin: 10px 0 10px 0;
}

.link-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
}

.link-header a, .link-header i{
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    font-size: 1.6rem;
}
.link-header a:hover, .link-header a:focus,.link-header i:hover, .link-header i:focus{
    color: var(--text-color);
}


.close-icon{
    display: none;
}

.link-content{
    color: var(--text-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.1rem;
}

.link-metadata-wrap{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    font-size: 15px;
}

.link-metadata i{
    color: var(--main-color);
    margin-right: 10px;
}

.link-metadata, .aktualizace{
    color: var(--section-note-color);
}


@media (min-width: 850px){
    .Links-Wrap{
        width: 70%;
        
    }

}