.tool-info{
	text-align: center;
	color: var(--main-color);
} 

h1{
	font-size: 3rem;
}


.inputLabel{
	background-color: var(--main-color);
	color: var(--secondary-color);
	padding: 0.7em;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	margin: 1em auto;
	display: block;
	width: fit-content;
	transition: all .3s ease-in-out;
}

.inputLabel:hover, .inputLabel:focus{
	transform: scale(1.1);
	color: var(--text-color);
	background-color: var(--secondary-color);
}


.content{
	text-align: center;
}

.markdownEditor{
	width: 90%;
	height: 700px;
	color: var(--text-color);
	font-family: var(--default-font);
	border-radius: 20px;
	font-size: 20px;
	padding: 1em;
	background-color: var(--background-color);
	border: solid 1px var(--main-color);
}

.buttons-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 25px);
    text-align: center;
    justify-content: center;
    column-gap: 80px;
    row-gap: 16px;
    margin: 50px 0;
}
.button{
	background-color: var(--main-color);
	color: var(--background-color);
	text-align: center;
	cursor: pointer;
	border: none;
	height: 60px;
	width: 60px;
	font-size: 20px;
	border-radius: 50%;
	transition: all .30s ease-in-out;
}
.button:hover, .button:focus{
	transform: scale(1.1);
	background-color: var(--background-color);
	color: var(--main-color);
}